extends ./basic.jade
block titulo
    title Universal
block style
    link(rel="stylesheet", type="text/css", media="screen", href="css/main.css")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor", crossorigin="anonymous")
block cuerpo
    br
    div.control
        h2 Contamos con 4 parques   
        div(class="card" style="width: 360px;")
            img(src="img/dragon.jpg" class="card-img-top" alt="...")
            div.card-body
                h5.card-title Universal Studios Florida
        br
        div(class="card" style="width: 360px;")
            img(src="img/castle.jpg" class="card-img-top" alt="...")
            div.card-body
                h5.card-title Islands of Adventure
        br
        div(class="card" style="width: 360px;")
            img(src="img/water.jpg" class="card-img-top" alt="...")
            div.card-body
                h5.card-title Volcano Bay
        br
        div(class="card" style="width: 360px;")
            img(src="img/walk.jpg" class="card-img-top" alt="...")
            div.card-body
                h5.card-title CityWalk